@import url("./__img/element__img.css");
@import url("./__item/element__item.css");
@import url("./__text/element__text.css");
@import url("./__like/element__like.css");
@import url("./__trash/element__trash.css");
@import url("./__like-block/element__like-block.css");
@import url("./__like/_active/element__like_active.css");
@import url("./__trash/_active/element__trash_active.css");

.element {
	position: relative;
	background-color: white;
	border-radius: 10px;
	transition: all .1s ease;
	overflow: hidden;
	cursor: pointer;
}