.form__error {
	visibility: hidden;
	padding-top: 5px;
	color: red;
	font-size: 12px;
	line-height: 15px;
	opacity: 0;
	transition: all .4s ease-in;
}

@media (min-width: 576px) {
	.form__error {
		font-size: 14px;
		line-height: 17px;
	}
}