.profile__avatar {
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	justify-self: center;
	user-select: none;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.profile__avatar:hover .profile__img {
	opacity: .6;
}

.profile__avatar:hover .profile__button_open_editAvatarPopup {
	display: block;
}