.popup__close {
	background: url("./../../../images/button/button-close.svg") no-repeat;
	background-position: center;
	padding: 0;
	width: 30px;
	height: 30px;
	transition: opacity .1s ease;
	background-color: rgba(0,0,0, 0);
	outline: none;
	border: 0;
	user-select: none;
	margin-left: 265px;
	cursor: pointer;
}

.popup__close:hover {
	opacity: .6;
}

@media (min-width: 1280px) {
	.popup__close {
		width: 40px;
		height: 40px;
		margin-left: 470px;
	}
}