.profile__button_open_editAvatarPopup{
	display: none;
	background: url('./../../../../../images/button/button-pen.svg') no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	width: 22%;
	height: 22%;
	border: 0;
	outline: none;
	padding: 0;
	cursor: pointer;
	display: none;
}

.profile__button_open_editAvatarPopup:hover {
	opacity: .8;
}